Repository bcgov/citz-imb-wayfinder, pull requests merged in 2023-06, with the labels that each got.

#84 [Wayf 99] css cleanup
  src/frontend-pwa/public/bc-logo-vertical.svg
  src/frontend-pwa/src/components/Button/Button.tsx
  src/frontend-pwa/src/components/Button/button.styles.ts
  src/frontend-pwa/src/components/Header/header.styles.ts
  src/frontend-pwa/src/components/Spinner/spinner.styles.ts
  src/frontend-pwa/src/components/SplashScreen/SplashScreen.tsx
  src/frontend-pwa/src/components/SplashScreen/splashscreen.styles.ts
  src/frontend-pwa/src/index.css
  src/frontend-pwa/src/views/Home/Home.tsx
  src/frontend-pwa/src/views/Home/home.styles.ts
  src/frontend-pwa/src/views/Settings/Settings.tsx
  src/frontend-pwa/src/views/Settings/settings.styles.ts
  src/frontend-pwa/vite.config.js
Labels: Frontend

#85 [Wayf 65] FEATURE list item
  src/frontend-pwa/src/App.tsx
  src/frontend-pwa/src/Type/CurrentLocation.ts
  src/frontend-pwa/src/Type/LocationsArray.ts
  src/frontend-pwa/src/Type/SingleLocation.ts
  src/frontend-pwa/src/Type/index.ts
  src/frontend-pwa/src/components/ListItem/ListItem.tsx
  src/frontend-pwa/src/components/ListItem/listitem.styles.ts
  src/frontend-pwa/src/components/ListItems/ListItems.tsx
  src/frontend-pwa/src/components/ListItems/listitems.style.ts
  src/frontend-pwa/src/routes/ViewRouter.tsx
  src/frontend-pwa/src/utils/CalcDistance.ts
  src/frontend-pwa/src/views/Location/Location.tsx
  src/frontend-pwa/src/views/Location/location.styles.ts
Labels: Frontend

#86 [Wayf 68] HOTFIX dockerfile cleanup
  src/frontend-pwa/Dockerfile
Labels: Docker, Frontend

#87 [WAYF-56] HOTFIX** Added Constants for Fetching in Dev Vs Prod
  src/frontend-pwa/.env.template
  src/frontend-pwa/src/App.tsx
  src/frontend-pwa/src/constants/Constants.ts
Labels: Frontend

#90 [WAYF-134] FEATURE** Rate Limiting + Basic Error handler added
  src/api/config/index.ts
  src/api/config/rateLimitConfig.ts
  src/api/express.ts
  src/api/middleware/globalErrorHandler.ts
  src/api/middleware/index.ts
  src/api/package.json
Labels: Backend

#91 [WAYF-54] FEATURE** Add Eula View
  src/frontend-pwa/src/App.tsx
  src/frontend-pwa/src/components/Button/Button.tsx
  src/frontend-pwa/src/components/Button/button.styles.ts
  src/frontend-pwa/src/index.css
  src/frontend-pwa/src/views/Eula/Eula.tsx
  src/frontend-pwa/src/views/Eula/eula.styles.tsx
Labels: Frontend

#89 [WAYF-140] DOCS** Updated Documentation in files
  src/api/config/corsConfig.ts
  src/api/config/swaggerConfig.ts
  src/api/controllers/health-controller.ts
  src/api/controllers/location-controller.ts
  src/api/controllers/report-controller.ts
  src/api/db.ts
  src/api/express.ts
  src/api/jest.config.ts
  src/api/models/singleLocation-model.ts
  src/api/routes/health-router.ts
  src/api/routes/location-router.ts
  src/api/routes/report-router.ts
  src/api/server.ts
  src/api/tests/health.test.js
  src/api/tests/locations.test.js
  src/api/types/SingleLocation.ts
Labels: Backend

#93 [WAYF-123] FEATURE** Create Report Schema + Type
  src/api/models/index.ts
  src/api/models/report-model.ts
  src/api/public/schemaDocs/Report-Schema.yaml
  src/api/public/schemaDocs/SingleLocation-Schema.yaml
  src/api/types/Report.ts
  src/api/types/index.ts
Labels: Backend

#94 [WAYF-141]-DOCS** update documentation
  src/frontend-pwa/src/App.tsx
  src/frontend-pwa/src/components/Footer/Footer.tsx
  src/frontend-pwa/src/components/Footer/footer.styles.ts
  src/frontend-pwa/src/components/ListItem/ListItem.tsx
  src/frontend-pwa/src/components/ListItem/listitem.styles.ts
  src/frontend-pwa/src/components/ListItems/ListItems.tsx
  src/frontend-pwa/src/components/ListItems/listitems.style.ts
  src/frontend-pwa/src/components/Slider/Slider.tsx
  src/frontend-pwa/src/components/Slider/slider.styles.ts
  src/frontend-pwa/src/components/Spinner/Spinner.tsx
  src/frontend-pwa/src/components/Spinner/spinner.styles.ts
  src/frontend-pwa/src/components/SplashScreen/SplashScreen.tsx
  src/frontend-pwa/src/components/SplashScreen/splashscreen.styles.ts
  src/frontend-pwa/src/components/Toggle/Toggle.tsx
  src/frontend-pwa/src/components/Toggle/toggle.styles.ts
  src/frontend-pwa/src/routes/ViewRouter.tsx
  src/frontend-pwa/src/utils/CalcDistance.ts
  src/frontend-pwa/src/views/BCServices/BCServices.tsx
  src/frontend-pwa/src/views/BCServices/bcservice.styles.ts
  src/frontend-pwa/src/views/BCServices/bcservices.styles.ts
  src/frontend-pwa/src/views/Home/Home.tsx
  src/frontend-pwa/src/views/Home/home.styles.ts
  src/frontend-pwa/src/views/Location/Location.tsx
  src/frontend-pwa/src/views/Location/location.styles.ts
  src/frontend-pwa/src/views/Settings/Settings.tsx
  src/frontend-pwa/src/views/Settings/settings.styles.ts
Labels: Frontend

#96 [WAYF-126] FEATURE** Create analytic endpoint
  src/api/config/corsConfig.ts
  src/api/controllers/analytic-controller.ts
  src/api/db.ts
  src/api/express.ts
  src/api/public/routeDocs/analytic.yaml
  src/api/public/routeDocs/responses/responses.yaml
  src/api/routes/analytic-router.ts
  src/api/routes/index.ts
  src/api/utils/validationErrorHandler.ts
Labels: Backend

#97 [WAYF-139] FEATURE** Improve Service Worker Caching
  src/frontend-pwa/public/robots.txt
  src/frontend-pwa/src/main.tsx
  src/frontend-pwa/tsconfig.json
  src/frontend-pwa/vite.config.js
Labels: Frontend

#98 [WAYF-139] HOTFIX** fix Service Worker + CORS
  src/api/config/corsConfig.ts
  src/frontend-pwa/index.html
  src/frontend-pwa/src/main.tsx
  src/frontend-pwa/vite.config.js
Labels: Backend, Frontend

#99 [WAYF-110] HOTFIX** enhance navigation fix
  src/frontend-pwa/public/back-button.svg
  src/frontend-pwa/src/components/BackNavButton/BackNavButton.tsx
  src/frontend-pwa/src/components/BackNavButton/backNavButton.styles.ts
  src/frontend-pwa/src/components/Header/Header.tsx
  src/frontend-pwa/src/components/Header/header.styles.ts
  src/frontend-pwa/src/components/SettingsNavButton/SettingsNavButton.tsx
  src/frontend-pwa/src/components/SettingsNavButton/settingsNavButton.styles.ts
Labels: Frontend

#102 [WAYF-110] FEATURE** Nav Component
  src/frontend-pwa/src/components/Header/Header.tsx
  src/frontend-pwa/src/components/NavButton/NavButton.tsx
  src/frontend-pwa/src/components/NavButton/navButton.styles.ts
  src/frontend-pwa/src/views/Home/Home.tsx
Labels: Frontend

#104 [WAYF-54] FEATURE** Eula Refinement Fix
  src/frontend-pwa/src/App.tsx
  src/frontend-pwa/src/components/Footer/footer.styles.ts
  src/frontend-pwa/src/components/Header/header.styles.ts
  src/frontend-pwa/src/components/Toggle/Toggle.tsx
  src/frontend-pwa/src/components/Toggle/toggle.styles.ts
  src/frontend-pwa/src/views/Eula/Eula.tsx
  src/frontend-pwa/src/views/Eula/eula.styles.tsx
  src/frontend-pwa/src/views/Settings/settings.styles.ts
Labels: Frontend

#105 [WAYF-151] FEATURE** Make List container Scalable
  src/frontend-pwa/src/components/ListItems/ListItems.tsx
  src/frontend-pwa/src/components/LocationListItem/LocationListItem.tsx
  src/frontend-pwa/src/components/LocationListItem/locationlistitem.styles.ts
  src/frontend-pwa/src/views/Location/Location.tsx
  src/mongoSeed/init/create-db.js
  src/scraper/README.md
  src/scraper/web_scraper.py
Labels: Frontend

#106 [WAYF-104] DOCS** Update Code Documentation
  src/frontend-pwa/src/components/Button/Button.tsx
  src/frontend-pwa/src/components/Button/button.styles.ts
  src/frontend-pwa/src/components/SearchBar/SearchBar.tsx
  src/frontend-pwa/src/components/SearchBar/searchbar.styles.ts
  src/frontend-pwa/src/views/Eula/eula.styles.tsx
Labels: Frontend

#107 [WAYF-107] FEATURE** Search by Service View
  src/frontend-pwa/public/PlaceholderImageMap.png
  src/frontend-pwa/src/App.tsx
  src/frontend-pwa/src/components/ListItems/listitems.style.ts
  src/frontend-pwa/src/components/Mapping/Mapping.tsx
  src/frontend-pwa/src/components/Mapping/mapping.styles.ts
  src/frontend-pwa/src/components/SearchBar/SearchBar.tsx
  src/frontend-pwa/src/components/SearchBar/searchbar.styles.ts
  src/frontend-pwa/src/components/ServicesListItem/ServicesListItem.tsx
  src/frontend-pwa/src/components/ServicesListItem/serviceslistitem.styles.ts
  src/frontend-pwa/src/routes/ViewRouter.tsx
  src/frontend-pwa/src/views/BCServices/BCServices.tsx
  src/frontend-pwa/src/views/BCServices/bcservices.styles.ts
  src/frontend-pwa/tsconfig.json
Labels: Frontend

#108 [WAYF-83] Add PATCH route to locations for web scraper use
  docker-compose.yaml
  src/api/.env.template
  src/api/config/corsConfig.ts
  src/api/config/index.ts
  src/api/controllers/analytic-controller.ts
  src/api/controllers/location-controller.ts
  src/api/express.ts
  src/api/models/singleLocation-model.ts
  src/api/public/routeDocs/locations.yaml
  src/api/routes/location-router.ts
  src/api/tests/analytic.test.js
  src/api/tests/locations.test.js
  src/api/types/SingleLocation.ts
  src/api/utils/httpResponse.ts
  src/frontend-pwa/src/App.tsx
  src/frontend-pwa/src/routes/ViewRouter.tsx
  src/frontend-pwa/src/views/BCServices/BCServices.tsx
  src/mongoSeed/init/create-db.js
  src/scraper/web_scraper.py
Labels: Backend, Docker, Frontend

#109 [WAYF-83] FEATURE** Enhance Scraper to send Data to API
  .env.template
  docker-compose.yaml
  src/api/config/corsConfig.ts
  src/scraper/.env.template
  src/scraper/Dockerfile
  src/scraper/Pipfile
  src/scraper/Pipfile.lock
  src/scraper/requirements.txt
  src/scraper/servicebc_scraper.py
Labels: Backend, Docker

#110 [WAYF-116] FEATURE** State Management
  src/frontend-pwa/src/App.tsx
  src/frontend-pwa/src/components/SplashScreen/SplashScreen.tsx
  src/frontend-pwa/src/main.tsx
  src/frontend-pwa/src/providers/AppProvider.tsx
  src/frontend-pwa/src/providers/BaseProvider.tsx
  src/frontend-pwa/src/routes/ViewRouter.tsx
  src/frontend-pwa/src/services/app/AppActions.ts
  src/frontend-pwa/src/services/app/AppReducer.ts
  src/frontend-pwa/src/services/app/useAppService.ts
  src/frontend-pwa/src/utils/AppLocalStorage.ts
  src/frontend-pwa/src/views/BCServices/BCServices.tsx
  src/frontend-pwa/src/views/Location/Location.tsx
Labels: Frontend

#111 [WAYF-155] FEATURE** Refreshed Main Navigation Buttons
  src/frontend-pwa/public/geo-alt-fill.svg
  src/frontend-pwa/public/newspaper.svg
  src/frontend-pwa/public/people-fill.svg
  src/frontend-pwa/src/components/NavButton/NavButton.tsx
  src/frontend-pwa/src/components/NavButton/navButton.styles.ts
  src/frontend-pwa/src/views/Home/Home.tsx
Labels: Frontend

#112 [WAYF-132] FEATURE** Add About/Contact Section
  src/frontend-pwa/public/file-text.svg
  src/frontend-pwa/src/components/Footer/footer.styles.ts
  src/frontend-pwa/src/constants/Constants.ts
  src/frontend-pwa/src/routes/ViewRouter.tsx
  src/frontend-pwa/src/views/AboutContact/AboutContact.tsx
  src/frontend-pwa/src/views/AboutContact/aboutcontact.styles.ts
  src/frontend-pwa/src/views/Settings/Settings.tsx
Labels: Frontend

#113 [WAYF-155] HOTFIX** Change text in a button
  src/frontend-pwa/src/views/Home/Home.tsx
Labels: Frontend

#114 [WAYF-114] FEATURE** Initial Offline Functionality
  src/frontend-pwa/src/components/ListItems/ListItems.tsx
  src/frontend-pwa/src/components/LocationListItem/LocationListItem.tsx
  src/frontend-pwa/src/components/SplashScreen/SplashScreen.tsx
  src/frontend-pwa/src/constants/Constants.ts
  src/frontend-pwa/src/services/app/useAppService.ts
  src/frontend-pwa/src/utils/AppLocalStorage.ts
  src/frontend-pwa/src/utils/CalcDistance.ts
  src/frontend-pwa/src/utils/OnlineCheck.ts
  src/frontend-pwa/src/views/BCServices/BCServices.tsx
  src/frontend-pwa/src/views/Location/Location.tsx
Labels: Frontend

#115 [WAYF-132] FEATURE** Revise About Section Content
  src/frontend-pwa/src/views/AboutContact/AboutContact.tsx
  src/frontend-pwa/src/views/AboutContact/aboutcontact.styles.ts
Labels: Frontend

#116 [WAYF-105] FEATURE** Develop Mapping Component
  package.json
  src/frontend-pwa/package.json
  src/frontend-pwa/public/marker-icon-2x-red.png
  src/frontend-pwa/public/marker-icon-2x.png
  src/frontend-pwa/public/marker-icon-red.png
  src/frontend-pwa/public/marker-icon.png
  src/frontend-pwa/public/marker-shadow.png
  src/frontend-pwa/src/Type/SingleLocation.ts
  src/frontend-pwa/src/components/Mapping/Mapping.tsx
  src/frontend-pwa/src/components/Mapping/mapping.styles.ts
  src/frontend-pwa/src/constants/Constants.ts
  src/frontend-pwa/src/views/BCServices/BCServices.tsx
Labels: Frontend

#118 [WAYF-105] HOTFIX** fixed constants
  src/frontend-pwa/src/constants/Constants.ts
Labels: Frontend

#119 [WAYF-111] FEATURE** Implement Settings
  src/frontend-pwa/public/person-lines-fill.svg
  src/frontend-pwa/src/App.tsx
  src/frontend-pwa/src/Type/SettingsObject.ts
  src/frontend-pwa/src/Type/index.ts
  src/frontend-pwa/src/components/SettingsNavButton/SettingsNavButton.tsx
  src/frontend-pwa/src/components/Slider/Slider.tsx
  src/frontend-pwa/src/components/Slider/slider.styles.ts
  src/frontend-pwa/src/components/SplashScreen/SplashScreen.tsx
  src/frontend-pwa/src/components/Toggle/Toggle.tsx
  src/frontend-pwa/src/constants/Constants.ts
  src/frontend-pwa/src/routes/ViewRouter.tsx
  src/frontend-pwa/src/services/app/AppActions.ts
  src/frontend-pwa/src/services/app/AppReducer.ts
  src/frontend-pwa/src/services/app/useAppService.ts
  src/frontend-pwa/src/views/Eula/Eula.tsx
  src/frontend-pwa/src/views/Settings/Settings.tsx
  src/frontend-pwa/src/views/Settings/settings.styles.ts
Labels: Frontend

#120 [WAYF-107] FEATURE** CSS Cleanup for Map / Service
  src/frontend-pwa/src/components/Footer/footer.styles.ts
  src/frontend-pwa/src/components/Header/header.styles.ts
  src/frontend-pwa/src/components/ListItems/listitems.style.ts
  src/frontend-pwa/src/components/Mapping/Mapping.tsx
  src/frontend-pwa/src/components/Mapping/mapping.styles.ts
  src/frontend-pwa/src/views/BCServices/BCServices.tsx
  src/frontend-pwa/src/views/BCServices/bcservices.styles.ts
Labels: Frontend

#122 [WAYF-102] FEATURE** Location Service Refine
  src/frontend-pwa/src/components/LocationListItem/LocationListItem.tsx
  src/frontend-pwa/src/services/app/useAppService.ts
  src/frontend-pwa/src/utils/CalcDistance.ts
  src/frontend-pwa/src/views/BCServices/BCServices.tsx
  src/frontend-pwa/src/views/Location/Location.tsx
  src/frontend-pwa/src/views/Location/location.styles.ts
  src/frontend-pwa/src/views/Settings/Settings.tsx
Labels: Frontend

#123 [WAYF-102] HOTFIX** Location View Refinement
  src/frontend-pwa/src/utils/CalcDistance.ts
  src/frontend-pwa/src/views/Location/Location.tsx
Labels: Frontend

#124 [WAYF-148] FEATURE** Media Query Breakpoints
  src/frontend-pwa/src/components/Header/header.styles.ts
  src/frontend-pwa/src/components/ListItems/listitems.style.ts
  src/frontend-pwa/src/components/Mapping/mapping.styles.ts
  src/frontend-pwa/src/components/Slider/slider.styles.ts
  src/frontend-pwa/src/constants/mq.tsx
  src/frontend-pwa/src/views/AboutContact/aboutcontact.styles.ts
  src/frontend-pwa/src/views/BCServices/bcservices.styles.ts
  src/frontend-pwa/src/views/Eula/eula.styles.tsx
  src/frontend-pwa/src/views/Location/location.styles.ts
  src/frontend-pwa/src/views/Settings/settings.styles.ts
Labels: Frontend

#125 [WAYF-172] FEATURE** sort 'Locations' view by shortest distance
  src/frontend-pwa/src/Type/SingleLocation.ts
  src/frontend-pwa/src/views/Location/Location.tsx
Labels: Frontend

#121 [WAYF-108] FEATURE** Enhance Report View
  src/frontend-pwa/src/views/Report/Report.tsx
  src/frontend-pwa/src/views/Report/report.styles.ts
Labels: Frontend

#127 [WAYF-108] HOTFIX** Light CSS tweaks to report
  src/frontend-pwa/src/components/Button/button.styles.ts
  src/frontend-pwa/src/views/Report/Report.tsx
  src/frontend-pwa/src/views/Report/report.styles.ts
Labels: Frontend

#126 [WAYF-113] FEATURE** Analytics Stub
  src/api/types/Analytic.ts
  src/frontend-pwa/src/Type/Analytic.ts
  src/frontend-pwa/src/components/SplashScreen/SplashScreen.tsx
  src/frontend-pwa/src/services/app/AppReducer.ts
  src/frontend-pwa/src/utils/Analytics.ts
  src/frontend-pwa/src/views/Report/Report.tsx
Labels: Backend, Frontend

#128 [WAYF-XXX] HOTFIX** adding lat/long to user marker
  src/frontend-pwa/src/components/Mapping/Mapping.tsx
Labels: Frontend

#129 [WAYF-177] FEATURE** add 'allServices' to API seed return
  src/api/controllers/location-controller.ts
  src/api/public/routeDocs/locations.yaml
  src/api/tests/locations.test.js
Labels: Backend

#131 [WAYF-163] FEATURE** Add API 'Report' Functionality
  src/api/controllers/report-controller.ts
  src/api/models/report-model.ts
  src/api/public/routeDocs/report.yaml
  src/api/public/schemaDocs/Report-Schema.yaml
  src/api/tests/analytic.test.js
  src/api/tests/report.test.js
Labels: Backend

#132 [WAYF-160] FEATURE** Small Nav Button for Footer
  src/frontend-pwa/public/clearicon.svg
  src/frontend-pwa/public/iconography/FindOfficeColor.svg
  src/frontend-pwa/public/iconography/FindOfficeWhite.svg
  src/frontend-pwa/public/iconography/FindServiceColor.svg
  src/frontend-pwa/public/iconography/FindServiceWhite.svg
  src/frontend-pwa/public/iconography/HomeWhite.svg
  src/frontend-pwa/public/iconography/ReportColor.svg
  src/frontend-pwa/public/iconography/ReportWhite.svg
  src/frontend-pwa/src/components/appNav/SmallNavButton/SmallNavButton.tsx
  src/frontend-pwa/src/components/appNav/SmallNavButton/smallNavButton.styles.ts
  src/frontend-pwa/src/components/appNav/index.ts
  src/frontend-pwa/src/components/common/Footer/Footer.tsx
  src/frontend-pwa/src/components/common/Footer/footer.styles.ts
  src/frontend-pwa/src/views/Home/Home.tsx
Labels: Frontend

#133 [WAYF-170] FEATURE** Header Nav Link
  src/frontend-pwa/src/components/common/Header/Header.tsx
  src/frontend-pwa/src/components/common/Header/header.styles.ts
Labels: Frontend

#134 [WAYF-164] FEATURE** Implement Service Options(Office Type) View
  src/frontend-pwa/public/iconography/CarBlack.svg
  src/frontend-pwa/public/iconography/FindOfficeBlack.svg
  src/frontend-pwa/public/iconography/FireBlack.svg
  src/frontend-pwa/public/iconography/HospitalBlack.svg
  src/frontend-pwa/public/iconography/TreeBlack.svg
  src/frontend-pwa/src/components/appNav/OfficeNavButton/OfficeNavButton.tsx
  src/frontend-pwa/src/components/appNav/OfficeNavButton/officeNavButton.styles.ts
  src/frontend-pwa/src/components/appNav/index.ts
  src/frontend-pwa/src/enums/Services.ts
  src/frontend-pwa/src/routes/ViewRouter.tsx
  src/frontend-pwa/src/views/Location/Location.tsx
  src/frontend-pwa/src/views/OfficeOptionsView/OfficeOptionsView.tsx
  src/frontend-pwa/src/views/OfficeOptionsView/officeOptionsView.styles.ts
Labels: Frontend

#135 [WAYF-157] **FEATURETEST High Accuracy Geo
  src/frontend-pwa/src/components/utility/SplashScreen/SplashScreen.tsx
  src/frontend-pwa/src/services/app/useAppService.ts
Labels: Frontend

#137 [WAYF-169] FEATURE** Offline Setting
  src/frontend-pwa/src/components/utility/SplashScreen/SplashScreen.tsx
  src/frontend-pwa/src/services/app/useAppService.ts
  src/frontend-pwa/src/views/BCServices/BCServices.tsx
  src/frontend-pwa/src/views/Location/Location.tsx
Labels: Frontend

#138 [WAYF-169] HOTFIX** For re-renders
  src/frontend-pwa/src/components/utility/SplashScreen/SplashScreen.tsx
Labels: Frontend

#139 [ WAYF-185 ] FEATURE** LocationInformation View
  src/frontend-pwa/src/Type/SingleLocation.ts
  src/frontend-pwa/src/Type/index.ts
  src/frontend-pwa/src/components/common/Button/button.styles.ts
  src/frontend-pwa/src/components/lists/LocationListItem/LocationListItem.tsx
  src/frontend-pwa/src/components/utility/Mapping/Mapping.tsx
  src/frontend-pwa/src/components/utility/Mapping/mapping.styles.ts
  src/frontend-pwa/src/routes/ViewRouter.tsx
  src/frontend-pwa/src/views/Location/Location.tsx
  src/frontend-pwa/src/views/LocationInformation/LocationInformation.tsx
  src/frontend-pwa/src/views/LocationInformation/locationInformation.style.ts
Labels: Frontend

#140 [WAYF-189] FEATURE-FIX** Adjust Greetings text in Main View
  src/frontend-pwa/src/components/utility/Greeting/Greeting.tsx
  src/frontend-pwa/src/components/utility/Greeting/greeting.style.ts
  src/frontend-pwa/src/views/Home/Home.tsx
  src/frontend-pwa/src/views/Home/home.styles.ts
Labels: Frontend

#141 [WAYF-162] FEATURE** Implemented location range
  src/frontend-pwa/src/views/BCServices/BCServices.tsx
Labels: Frontend

#142 [WAYF-193]FEATURE** Add Ticket numbers + return reports to user
  src/api/controllers/report-controller.ts
  src/api/models/report-model.ts
  src/api/public/routeDocs/report.yaml
  src/api/types/Report.ts
Labels: Backend

#143 [WAYF-191] Implement 404 Component
  src/frontend-pwa/src/components/utility/Mapping/Mapping.tsx
  src/frontend-pwa/src/routes/ViewRouter.tsx
  src/frontend-pwa/src/views/LocationInformation/LocationInformation.tsx
  src/frontend-pwa/src/views/NotFound/NotFound.style.ts
  src/frontend-pwa/src/views/NotFound/NotFound.tsx
Labels: Frontend

#144 [WAYF-183] FEATURE** Caching Analytics Offline
  src/frontend-pwa/src/constants/Constants.ts
  src/frontend-pwa/src/services/app/useAppService.ts
  src/frontend-pwa/src/utils/SendAnalytics.ts
  src/frontend-pwa/src/views/Location/Location.tsx
  src/frontend-pwa/src/views/LocationInformation/LocationInformation.tsx
  src/frontend-pwa/src/views/Report/Report.tsx
Labels: Frontend

#145 [ WAYF-197 ] FEEDBACK ADDRESS** CSS changes, Report success message added
  src/frontend-pwa/public/iconography/FindServiceColor.svg
  src/frontend-pwa/src/components/appNav/NavButton/navButton.styles.ts
  src/frontend-pwa/src/components/appNav/OfficeNavButton/officeNavButton.styles.ts
  src/frontend-pwa/src/components/utility/Greeting/greeting.style.ts
  src/frontend-pwa/src/views/Home/Home.tsx
  src/frontend-pwa/src/views/Report/Report.tsx
  src/frontend-pwa/src/views/Report/report.styles.ts
Labels: Frontend

#146 [WAYF-192] Add get methods to Report/Analytic Endpoints
  docker-compose.yaml
  src/api/controllers/analytic-controller.ts
  src/api/controllers/report-controller.ts
  src/api/routes/analytic-router.ts
  src/api/routes/report-router.ts
Labels: Backend, Docker

#147 [WAYF-166] FEATURE+FIX** Make ICBC Data accessible (Minor Tweaks)
  src/api/controllers/location-controller.ts
  src/api/public/routeDocs/locations.yaml
  src/frontend-pwa/src/components/utility/Mapping/Mapping.tsx
  src/frontend-pwa/src/views/BCServices/BCServices.tsx
Labels: Backend, Frontend

#149 [WAYF-184] FEATURE** Sending Cached Analytics
  src/frontend-pwa/src/components/utility/SplashScreen/SplashScreen.tsx
  src/frontend-pwa/src/services/app/useAppService.ts
  src/frontend-pwa/src/utils/AppAnalytics.ts
  src/frontend-pwa/src/utils/AppLocalStorage.ts
  src/frontend-pwa/src/utils/SendAnalytics.ts
  src/frontend-pwa/src/views/LocationInformation/LocationInformation.tsx
  src/frontend-pwa/src/views/Report/Report.tsx
Labels: Frontend
