Repository bcgov/citz-imb-wayfinder, pull requests merged in 2023-07, with the labels that each got.

#150 [WAYF-199] FEATURE** Banner Tips, CSS Tweaks, French?
  src/frontend-pwa/package.json
  src/frontend-pwa/public/iconography/ClearWhite.svg
  src/frontend-pwa/public/iconography/MoreInfo.svg
  src/frontend-pwa/public/iconography/ReportWhite.svg
  src/frontend-pwa/src/components/common/MoreInfoButton/MoreInfoButton.tsx
  src/frontend-pwa/src/components/common/MoreInfoButton/moreInfoButton.style.ts
  src/frontend-pwa/src/components/common/Slider/slider.styles.ts
  src/frontend-pwa/src/components/utility/BannerTip/BannerTip.tsx
  src/frontend-pwa/src/components/utility/BannerTip/bannerTip.style.ts
  src/frontend-pwa/src/components/utility/Greeting/greeting.style.ts
  src/frontend-pwa/src/components/utility/index.ts
  src/frontend-pwa/src/content/content.ts
  src/frontend-pwa/src/views/AboutContact/aboutcontact.styles.ts
  src/frontend-pwa/src/views/Home/home.styles.ts
  src/frontend-pwa/src/views/Settings/Settings.tsx
  src/frontend-pwa/src/views/Settings/settings.styles.ts
Labels: Frontend

#151 [WAYF-201] FEATURE** Language Support
  src/frontend-pwa/src/components/appNav/NavButton/navButton.styles.ts
  src/frontend-pwa/src/components/common/Footer/Footer.tsx
  src/frontend-pwa/src/components/common/SearchBar/SearchBar.tsx
  src/frontend-pwa/src/components/utility/Greeting/Greeting.tsx
  src/frontend-pwa/src/components/utility/Mapping/Mapping.tsx
  src/frontend-pwa/src/content/content.ts
  src/frontend-pwa/src/views/AboutContact/AboutContact.tsx
  src/frontend-pwa/src/views/BCServices/BCServices.tsx
  src/frontend-pwa/src/views/Eula/Eula.tsx
  src/frontend-pwa/src/views/Home/Home.tsx
  src/frontend-pwa/src/views/Location/Location.tsx
  src/frontend-pwa/src/views/LocationInformation/LocationInformation.tsx
  src/frontend-pwa/src/views/NotFound/NotFound.tsx
  src/frontend-pwa/src/views/OfficeOptionsView/OfficeOptionsView.tsx
  src/frontend-pwa/src/views/Report/Report.tsx
  src/frontend-pwa/src/views/Settings/Settings.tsx
Labels: Frontend

#152 [WAYF-203] FEATURE** Language Select in settings
  src/frontend-pwa/src/Type/SettingsObject.ts
  src/frontend-pwa/src/services/app/useAppService.ts
  src/frontend-pwa/src/views/Settings/Settings.tsx
Labels: Frontend

#153 [WAYF-204] FEATURE** App uses language settings
  src/frontend-pwa/src/components/common/Footer/Footer.tsx
  src/frontend-pwa/src/components/common/SearchBar/SearchBar.tsx
  src/frontend-pwa/src/components/utility/Greeting/Greeting.tsx
  src/frontend-pwa/src/components/utility/Mapping/Mapping.tsx
  src/frontend-pwa/src/content/content.ts
  src/frontend-pwa/src/views/AboutContact/AboutContact.tsx
  src/frontend-pwa/src/views/BCServices/BCServices.tsx
  src/frontend-pwa/src/views/Eula/Eula.tsx
  src/frontend-pwa/src/views/Home/Home.tsx
  src/frontend-pwa/src/views/Location/Location.tsx
  src/frontend-pwa/src/views/LocationInformation/LocationInformation.tsx
  src/frontend-pwa/src/views/NotFound/NotFound.tsx
  src/frontend-pwa/src/views/OfficeOptionsView/OfficeOptionsView.tsx
  src/frontend-pwa/src/views/Report/Report.tsx
Labels: Frontend

#154 [N/A] HOTFIX** Changed URL filtering in LocationInformation
  src/frontend-pwa/src/components/utility/Mapping/Mapping.tsx
  src/frontend-pwa/src/views/LocationInformation/LocationInformation.tsx
Labels: Frontend

#155 [WAYF-201] HOTFIX** variable mismatch
  src/frontend-pwa/src/content/content.ts
Labels: Frontend

#157 [WAYF-196] FEATURE** Update Logos/Manifest**
  src/frontend-pwa/public/android-chrome-192x192.png
  src/frontend-pwa/public/android-chrome-512x512.png
  src/frontend-pwa/public/apple-touch-icon.png
  src/frontend-pwa/public/favicon-16x16.png
  src/frontend-pwa/public/favicon-32x32.png
  src/frontend-pwa/public/favicon.ico
Labels: Frontend

#156 [WAYF-194] FEATURE** Reports Saved to Device
  src/frontend-pwa/src/Type/Report.ts
  src/frontend-pwa/src/Type/SettingsLocalStorage.ts
  src/frontend-pwa/src/constants/Constants.ts
  src/frontend-pwa/src/content/content.ts
  src/frontend-pwa/src/services/app/AppActions.ts
  src/frontend-pwa/src/services/app/AppReducer.ts
  src/frontend-pwa/src/services/app/useAppService.ts
  src/frontend-pwa/src/utils/LocalStorageSettingsCheck.ts
  src/frontend-pwa/src/views/Report/Report.tsx
Labels: Frontend

#159 [WAYF-226] FEATURE** Global BannerTip
  src/frontend-pwa/src/App.tsx
  src/frontend-pwa/src/components/common/MoreInfoButton/MoreInfoButton.tsx
  src/frontend-pwa/src/components/utility/BannerTip/BannerTip.tsx
  src/frontend-pwa/src/services/app/AppActions.ts
  src/frontend-pwa/src/services/app/AppReducer.ts
  src/frontend-pwa/src/services/app/useAppService.ts
  src/frontend-pwa/src/views/Settings/Settings.tsx
Labels: Frontend

#160 [WAYF-195] FEATURE** ReportHistory View
  src/frontend-pwa/public/iconography/TrashRed.svg
  src/frontend-pwa/src/Type/Report.ts
  src/frontend-pwa/src/components/lists/ReportHistoryListItem/ReportHistoryListItem.tsx
  src/frontend-pwa/src/components/lists/ReportHistoryListItem/reportHistoryListItem.style.ts
  src/frontend-pwa/src/content/contactInfo.ts
  src/frontend-pwa/src/content/content.ts
  src/frontend-pwa/src/routes/ViewRouter.tsx
  src/frontend-pwa/src/views/AboutContact/AboutContact.tsx
  src/frontend-pwa/src/views/Report/Report.tsx
  src/frontend-pwa/src/views/Report/report.styles.ts
  src/frontend-pwa/src/views/ReportHistory/ReportHistory.tsx
  src/frontend-pwa/src/views/ReportHistory/reportHistory.style.ts
Labels: Frontend

#161 [WAYF-227] FEATURE** Report Error Handling
  src/frontend-pwa/src/components/utility/SplashScreen/SplashScreen.tsx
  src/frontend-pwa/src/constants/Constants.ts
  src/frontend-pwa/src/content/content.ts
  src/frontend-pwa/src/services/app/useAppService.ts
  src/frontend-pwa/src/utils/AppAnalytics.ts
  src/frontend-pwa/src/utils/AppReports.ts
  src/frontend-pwa/src/views/Report/Report.tsx
  src/frontend-pwa/src/views/Settings/Settings.tsx
Labels: Frontend

#162 [WAYF-223] FEATURE ** User accounts for analytic/report access
  src/api/controllers/account-controller.ts
  src/api/controllers/analytic-controller.ts
  src/api/controllers/report-controller.ts
  src/api/db.ts
  src/api/express.ts
  src/api/models/index.ts
  src/api/models/userAccount-model.ts
  src/api/package.json
  src/api/public/routeDocs/account.yaml
  src/api/public/routeDocs/responses/responses.yaml
  src/api/public/schemaDocs/CreateUser-Schema.yaml
  src/api/public/schemaDocs/PasswordChange-Schema.yaml
  src/api/public/schemaDocs/User-Schema.yaml
  src/api/routes/account-router.ts
  src/api/routes/analytic-router.ts
  src/api/routes/index.ts
  src/api/routes/report-router.ts
  src/api/types/User.ts
  src/api/utils/basicStrategy.ts
  src/api/utils/localStrategy.ts
Labels: Backend

#164 [WAYF-173] FEATURE** Frontend Testing
  .gitignore
  src/frontend-pwa/.eslintrc.json
  src/frontend-pwa/cypress.config.ts
  src/frontend-pwa/cypress/e2e/App_Walkthrough.cy.ts
  src/frontend-pwa/cypress/fixtures/example.json
  src/frontend-pwa/cypress/support/commands.ts
  src/frontend-pwa/cypress/support/e2e.ts
  src/frontend-pwa/package.json
  src/frontend-pwa/tsconfig.json
Labels: Frontend

#165 [N/A] HOTFIX** Mongoose connection fixes + (slight) resource bump
  OpenShift/templates/wf-api-dc-template.yaml
  src/api/db.ts
Labels: Backend

#166 [WAY-204] HOTFIX** Fixed Content in About us view
  src/frontend-pwa/src/App.tsx
  src/frontend-pwa/src/content/content.ts
Labels: Frontend

#167 [WAYF-230] Add More Location Icons + Data from API
  src/api/controllers/location-controller.ts
  src/api/tests/locations.test.js
  src/frontend-pwa/public/iconography/BCHousing.svg
  src/frontend-pwa/public/iconography/CarColor.svg
  src/frontend-pwa/public/iconography/Courthouse.svg
  src/frontend-pwa/public/iconography/FindOfficeColorServe.svg
  src/frontend-pwa/public/iconography/PlusColor.svg
  src/frontend-pwa/public/iconography/ReportWhite.svg
  src/frontend-pwa/src/content/content.ts
  src/frontend-pwa/src/enums/Services.ts
  src/frontend-pwa/src/views/BCServices/BCServices.tsx
  src/frontend-pwa/src/views/Location/Location.tsx
  src/frontend-pwa/src/views/OfficeOptionsView/OfficeOptionsView.tsx
Labels: Backend, Frontend

#168 [N/A] Application name change
  src/frontend-pwa/index.html
  src/frontend-pwa/vite.config.js
Labels: Frontend

#169 [N/A] TEXT CONTENT** Add Special thanks in About section
  src/frontend-pwa/src/content/content.ts
  src/frontend-pwa/src/views/AboutContact/AboutContact.tsx
Labels: Frontend

#172 [WAYF-232] FEATURE** new POST method on /locations to reduce data load
  src/api/controllers/location-controller.ts
  src/api/db.ts
  src/api/models/index.ts
  src/api/models/update-model.ts
  src/api/public/routeDocs/account.yaml
  src/api/public/routeDocs/locations.yaml
  src/api/routes/location-router.ts
  src/api/types/UpdateDate.ts
  src/api/types/index.ts
  src/api/utils/extractServiceList.ts
  src/api/utils/servicesOffered.ts
Labels: Backend

#173 [WAYF-239] UPDATE** Update the Analytics Model
  src/api/models/analytic-model.ts
  src/api/public/schemaDocs/Analytic-Schema.yaml
  src/api/types/Analytic.ts
Labels: Backend

#175 [WAYF-241] PATCH** Patch Critical vulnerabilities
  src/api/package.json
  src/api/tests/locations.test.js
  src/frontend-pwa/package.json
Labels: Backend, Frontend

#176 [WAYF-236] HOTFIX** New Button Colours
  src/frontend-pwa/public/iconography/FindOffice.svg
  src/frontend-pwa/public/iconography/FindServiceColor.svg
  src/frontend-pwa/public/iconography/ReportColor.svg
  src/frontend-pwa/src/views/Home/Home.tsx
Labels: Frontend

#178 [WAYF-231] FEATURE** "What's New"
  src/frontend-pwa/package.json
  src/frontend-pwa/src/content/changelogContent.ts
  src/frontend-pwa/src/routes/ViewRouter.tsx
  src/frontend-pwa/src/views/WhatsNew/WhatsNew.tsx
  src/frontend-pwa/src/views/WhatsNew/whatsNew.styles.ts
Labels: Frontend

#179 [WAYF-243] REFRESH LOOK** New icons, nav button resize, home css clean up
  src/frontend-pwa/public/iconography/FindOffice.svg
  src/frontend-pwa/public/iconography/FindServiceColor.svg
  src/frontend-pwa/public/iconography/ReportColor.svg
  src/frontend-pwa/src/components/appNav/NavButton/navButton.styles.ts
  src/frontend-pwa/src/components/common/Header/header.styles.ts
  src/frontend-pwa/src/views/Home/home.styles.ts
Labels: Frontend

#180 [WAYF-244-] MINOR** Change the text in 404 page button
  src/frontend-pwa/src/components/common/Button/button.styles.ts
  src/frontend-pwa/src/content/content.ts
  src/frontend-pwa/src/views/NotFound/NotFound.tsx
Labels: Frontend

#181 [WAYF-178] CONTENT** Updated SEO
  src/frontend-pwa/index.html
  src/frontend-pwa/src/index.css
  src/frontend-pwa/vite.config.js
Labels: Frontend

#182 [WAYF-224] FEATURE** Add Analytic Stubs
  src/api/models/analytic-model.ts
  src/api/public/schemaDocs/Analytic-Schema.yaml
  src/api/types/Analytic.ts
  src/frontend-pwa/src/App.tsx
  src/frontend-pwa/src/Type/Analytic.ts
  src/frontend-pwa/src/Type/StateObject.ts
  src/frontend-pwa/src/components/utility/SplashScreen/SplashScreen.tsx
  src/frontend-pwa/src/utils/AppAnalytics.ts
  src/frontend-pwa/src/utils/UpdateOnLoad.tsx
  src/frontend-pwa/src/views/Eula/Eula.tsx
  src/frontend-pwa/src/views/Location/Location.tsx
Labels: Backend, Frontend

#183 [WAYF-224] FEATURE** More Analytics
  src/api/models/analytic-model.ts
  src/frontend-pwa/src/components/common/Accordion/Accordion.tsx
  src/frontend-pwa/src/views/AboutContact/AboutContact.tsx
  src/frontend-pwa/src/views/BCServices/BCServices.tsx
  src/frontend-pwa/src/views/Eula/Eula.tsx
  src/frontend-pwa/src/views/LocationInformation/LocationInformation.tsx
  src/frontend-pwa/src/views/ReportHistory/ReportHistory.tsx
  src/frontend-pwa/src/views/Settings/Settings.tsx
  src/frontend-pwa/src/views/WhatsNew/WhatsNew.tsx
Labels: Backend, Frontend

#184 [WAYF-186] FEATURE** Local storage clear on delete
  src/frontend-pwa/src/components/utility/SplashScreen/SplashScreen.tsx
  src/frontend-pwa/src/constants/Constants.ts
  src/frontend-pwa/src/services/app/useAppService.ts
  src/frontend-pwa/src/utils/UpdateOnLoad.tsx
Labels: Frontend

#185 [WAYF-245] HOTFIX** Added tool tip
  src/frontend-pwa/src/content/content.ts
  src/frontend-pwa/src/views/Settings/Settings.tsx
Labels: Frontend

#186 [WAYF-223] FEATURE** reduce load
  src/api/controllers/location-controller.ts
  src/frontend-pwa/src/constants/Constants.ts
  src/frontend-pwa/src/services/app/useAppService.ts
Labels: Backend, Frontend

#187 [WAYF-168] FEATURE** Serviceworker Refinement
  README.md
  src/frontend-pwa/package.json
  src/frontend-pwa/src/components/common/Button/Button.tsx
  src/frontend-pwa/src/components/common/Button/button.styles.ts
  src/frontend-pwa/src/components/utility/Mapping/Mapping.tsx
  src/frontend-pwa/src/components/utility/Mapping/mapping.styles.ts
  src/frontend-pwa/src/constants/Constants.ts
  src/frontend-pwa/src/content/changelogContent.ts
  src/frontend-pwa/src/content/content.ts
  src/frontend-pwa/src/services/app/AppActions.ts
  src/frontend-pwa/src/services/app/AppReducer.ts
  src/frontend-pwa/src/services/app/useAppService.ts
  src/frontend-pwa/src/views/Eula/Eula.tsx
  src/frontend-pwa/src/views/Settings/Settings.tsx
  src/frontend-pwa/src/views/Settings/settings.styles.ts
  src/frontend-pwa/vite.config.js
Labels: Frontend

#188 [WAYF-218] HOTFIX** Code Cleanup
  src/frontend-pwa/src/content/changelogContent.ts
Labels: Frontend
