Repository bcgov/citz-imb-wayfinder, pull requests merged in 2023-05, with the labels that each got.

#34 [WAYF-45] - openshift setup
  .github/workflows/api-build-deploy.yaml
Labels: GitHub Actions

#35 [WAYF-45] - Update API dockerfile
  src/api/Dockerfile
Labels: Backend, Docker

#37 [WAYF-45] deploy pipeline
  .github/helpers/deploy.sh
  .github/workflows/api-build-deploy.yaml
Labels: GitHub Actions

#40 Frontend dockerfile updated to fix root issue
  src/frontend-pwa/Dockerfile
Labels: Docker, Frontend

#41 Wayf 45 openshift frontend workflow yaml
  .github/workflows/frontend-PWA-build-deploy.yaml
Labels: GitHub Actions

#42 Updated frontend dockerfile
  src/frontend-pwa/Dockerfile
Labels: Docker, Frontend

#43 [WAYF-45] erroneous previous commit, healthcare+cleanup jobs should have been i…
  .github/workflows/api-build-deploy.yaml
  .github/workflows/frontend-PWA-build-deploy.yaml
Labels: GitHub Actions

#44 Wayf 45 frontend dockerfile update
  src/frontend-pwa/Dockerfile
  src/frontend-pwa/nginx.conf
Labels: Docker, Frontend

#48 added deploy,healthcheck,cleanup jobs to workflow
  .github/workflows/frontend-PWA-build-deploy.yaml
Labels: GitHub Actions

#52 Wayf 46 teams deploy message
  .github/workflows/api-build-deploy.yaml
Labels: GitHub Actions

#53 Added Success and Failure messages to frontend-pwa-build-deploy.yaml
  .github/workflows/api-build-deploy.yaml
  .github/workflows/frontend-PWA-build-deploy.yaml
Labels: GitHub Actions

#55 [WAYF-76] Add ESLint+Airbnb standard. code reflects changes.
  .eslintignore
  .prettierignore
  src/api/.eslintrc.json
  src/api/.prettierrc.json
  src/api/config/index.ts
  src/api/config/swaggerConfig.ts
  src/api/controllers/health-controller.ts
  src/api/controllers/location-controller.ts
  src/api/express.ts
  src/api/jest.config.ts
  src/api/models/index.ts
  src/api/models/singleLocation-model.ts
  src/api/package.json
  src/api/routes/health-router.ts
  src/api/routes/location-router.ts
  src/api/server.ts
  src/api/tests/health.test.js
  src/api/tests/locations.test.js
Labels: Backend

#57 [WAYF-91] Fix Dockerfile/Swagger import
  src/api/Dockerfile
Labels: Backend, Docker

#58 Wayf 90 frontend air bnb
  src/frontend-pwa/src/App.tsx
  src/frontend-pwa/src/components/Header/Header.tsx
  src/frontend-pwa/src/main.tsx
Labels: Frontend

#59 Wayf 50 create gov header
  src/frontend-pwa/.eslintrc.json
  src/frontend-pwa/package.json
  src/frontend-pwa/public/logo-banner.svg
  src/frontend-pwa/src/App.tsx
  src/frontend-pwa/src/components/Header/Header.tsx
  src/frontend-pwa/src/components/Header/header.styles.ts
Labels: Frontend

#60 [WAYF-72/73] add mongoose middleware + connect to MongoDB
  docker-compose.yaml
  src/api/.env.template
  src/api/README.md
  src/api/db.ts
  src/api/express.ts
  src/api/package.json
Labels: Backend, Docker

#61 Updated Docker-compose for Mongo, added seed data
  docker-compose.yaml
  src/mongoSeed/init/create-db.js
Labels: Docker

#63 initial commit for changing alien logo
  src/frontend-pwa/public/android-chrome-192x192.png
  src/frontend-pwa/public/android-chrome-512x512.png
  src/frontend-pwa/public/apple-touch-icon.png
  src/frontend-pwa/public/favicon-16x16.png
  src/frontend-pwa/public/favicon-32x32.png
  src/frontend-pwa/public/favicon.ico
  src/frontend-pwa/public/pwa-192x192.png
  src/frontend-pwa/public/pwa-512x512.png
  src/frontend-pwa/public/react.svg
  src/frontend-pwa/public/vite.svg
  src/frontend-pwa/vite.config.js
Labels: Frontend

#64 Wayf 50 header update
  src/frontend-pwa/package.json
  src/frontend-pwa/src/components/Header/header.styles.ts
  src/frontend-pwa/src/typography.tsx
Labels: Frontend

#65 [WAYF-75] Integrated locations endpoint with Mongoose
  src/api/controllers/location-controller.ts
  src/api/db.ts
  src/api/models/index.ts
  src/api/models/singleLocation-model.ts
  src/api/types/SingleLocation.ts
  src/api/types/index.ts
Labels: Backend

#66 Wayf 51 footer
  src/frontend-pwa/src/App.tsx
  src/frontend-pwa/src/components/Footer/Footer.tsx
  src/frontend-pwa/src/components/Footer/footer.styles.ts
  src/frontend-pwa/src/typography.ts
Labels: Frontend

#67 Wayf 52 add button component
  src/frontend-pwa/index.html
  src/frontend-pwa/src/App.tsx
  src/frontend-pwa/src/components/Button/Button.tsx
  src/frontend-pwa/src/components/Button/button.styles.ts
Labels: Frontend

#69 Footer.tsx and footer.styles.ts updated to remove links
  src/frontend-pwa/src/components/Footer/Footer.tsx
  src/frontend-pwa/src/components/Footer/footer.styles.ts
Labels: Frontend

#70 Removed footer imports in footer.tsx that were removed in footer.styl…
  src/frontend-pwa/src/components/Footer/Footer.tsx
Labels: Frontend

#71 [WAYF-93] update api models + mongo seed
  src/api/models/singleLocation-model.ts
  src/api/types/SingleLocation.ts
  src/mongoSeed/init/create-db.js
Labels: Backend

#74 Wayf 71 m UI install
  src/frontend-pwa/package.json
  src/frontend-pwa/src/views/Report/Report.tsx
Labels: Frontend

#75 Fixed unused Textfield import in Report View
  src/frontend-pwa/src/views/Report/Report.tsx
Labels: Frontend

#72 Wayf 67 add search stub
  src/frontend-pwa/public/clearicon.svg
  src/frontend-pwa/public/searchicon.svg
  src/frontend-pwa/src/components/SearchBar/SearchBar.tsx
  src/frontend-pwa/src/components/SearchBar/searchbar.styles.ts
Labels: Frontend

#76 Added /report stub endpoint for development
  src/api/controllers/report-controller.ts
  src/api/express.ts
  src/api/routes/index.ts
  src/api/routes/report-router.ts
Labels: Backend

#77 [Wayf-57] settings view
  src/frontend-pwa/public/gear-icon.svg
  src/frontend-pwa/src/components/Header/Header.tsx
  src/frontend-pwa/src/components/Header/header.styles.ts
  src/frontend-pwa/src/components/Slider/Slider.tsx
  src/frontend-pwa/src/components/Slider/slider.styles.ts
  src/frontend-pwa/src/components/Toggle/Toggle.tsx
  src/frontend-pwa/src/components/Toggle/toggle.styles.ts
  src/frontend-pwa/src/main.tsx
  src/frontend-pwa/src/routes/ViewRouter.tsx
  src/frontend-pwa/src/views/Settings/Settings.tsx
  src/frontend-pwa/src/views/Settings/settings.styles.ts
  src/frontend-pwa/vite.config.js
Labels: Frontend

#78 [Wayf 53] splashscreen
  src/frontend-pwa/src/App.tsx
  src/frontend-pwa/src/components/Spinner/Spinner.tsx
  src/frontend-pwa/src/components/Spinner/spinner.styles.ts
  src/frontend-pwa/src/components/SplashScreen/SplashScreen.tsx
  src/frontend-pwa/src/components/SplashScreen/splashscreen.styles.ts
Labels: Frontend

#79 Wayf 97 update and fix swagger docs
  src/api/config/swaggerConfig.ts
  src/api/express.ts
  src/api/package.json
  src/api/public/global.yaml
  src/api/public/routeDocs/health.yaml
  src/api/public/routeDocs/locations.yaml
  src/api/public/routeDocs/report.yaml
  src/api/public/schemaDocs/Report-Schema.yaml
  src/api/public/schemaDocs/SingleLocation-Schema.yaml
  src/api/public/swagger.yaml
Labels: Backend

#80 [WAYF-96] added cors to api
  src/api/config/corsConfig.ts
  src/api/config/index.ts
  src/api/express.ts
  src/api/package.json
Labels: Backend

#81 WAYF 64 fetch seed data from api
  src/frontend-pwa/.env.template
  src/frontend-pwa/package.json
  src/frontend-pwa/src/App.tsx
Labels: Frontend

#82 [WAYF-64] update nginx so fetch works in docker
  docker-compose.yaml
  src/frontend-pwa/nginx.conf
  src/frontend-pwa/src/App.tsx
Labels: Docker, Frontend

#83 [WAYF-98] removed default CSS
  src/frontend-pwa/src/App.css
  src/frontend-pwa/src/App.tsx
  src/frontend-pwa/src/index.css
Labels: Frontend
